<h3>Student Component</h3>
<h4>Student Id: {{ student.sid }}</h4>
<h4>Student Name: {{ student.name }}</h4>
<h4>Student Birth Date: {{ student.bdate }}</h4>

<h2>Date Pipe</h2>
<h5>Date: {{ student.bdate | date }}</h5>
<h5>Date small: {{ student.bdate | date:'short' }}</h5>
<h5>Date medium: {{ student.bdate | date:'medium' }}</h5>
<h5>Date long: {{ student.bdate | date:'long' }}</h5>
<h5>Date custom: {{ student.bdate | date:'dd-MMM-yyyy' }}</h5>

<h2>Text Transformations</h2>
<h5>Uppercase Pipe: {{ "Hello World" | uppercase }}</h5>
<h5>Lowercase Pipe: {{ "Hello World" | lowercase }}</h5>

<h2>JSON Pipe</h2>
<h5>JsonPipe: {{ student | json }}</h5>

<h2>Currency Pipe</h2>
<h5>Currency (Korean): {{ 12345 | currency:"KRW" }}</h5>
<h5>Currency (GBP): {{ 12345 | currency:"GBP" }}</h5>
<h5>Currency (INR): {{ 12345 | currency:"INR" }}</h5>
<h5>Currency (EUR): {{ 12345 | currency:"EUR" }}</h5>

<h2>Number Pipe</h2>
<h5>Number: {{ 1234567.1234 | number }}</h5>
<h5>Number (2.2-2): {{ 1234567.1234 | number:'2.2-2' }}</h5>

<h2>Images</h2>
<img src="{{ leo }}" height="100" width="100" />
<img [src]="leo" height="100" width="100" />
<img bind-src="leo" height="100" width="100" />
<img src="https://media.istockphoto.com/id/1796374503/photo/the-lion-king.jpg?s=2048x2048&w=is&k=20&c=gynl-IH7JehDI1yIKLRww-y-OWFGyaEKKdwXAXKBUU0=" height="100" width="100" />