<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Document</title>
</head>
<body>
  <script>
    const io_client = io();
    io_client.on("connect", () => {
      console.log("Connected to server");
      socket.send("Hi from Client");
      const socketID = document.getElementById('socketID');
      socektID.innerHTML = `Socket ID: ${io_client.id}`;
    })
    
    /* emit은 이벤트를 발생시키는 메서드 입니다. 소켓 통신에서 클라이언트와 서버 간에 데이터를 
    주고 받을때 특정 이벤틀르 트리거 하기 위해 사영됨

    emit 동작 방식
    이벤트 이름과 함께 데이터를 전송합니다
    이벤트 이름은 문자열로 정의되며, 이를 기반으로 이벤트 리스너가 실행됩니다
    반대 개념은 on으로 특정 이벤트가 발생했을때 실행되는 리스너를 등록하는 역활을 합니다다

    */
    
    function joinGroup() {
      const groupName = '';
      io_client.emit('join_group', groupName);

    }

    function leaveGroup() {
      const groupName = '';
      
      io_client.emit('leave_group', groupName);

    }

    function sendGroupMessage() {
      const data = {
        senderId: socket.id,
        group_name: '',
        message: '',
        data_sent: new Data()
      }

    }

    io_client.on('group_message', (data) => {
      const senderId = data.senderId;
      const message = data.message;
    })
  </script>

  <h2>Group Chat</h2>
  <h4 id="socketID"></h4>
  <input type="radio" id="group1" name="group" value="group1">
  <input type="radio" id="group2" name="group" value="group2">
  <button onclick="joinGroup()">Join Group</button>
  <input type="text" id="message" name="message" placeholder="Enter your message" />
  <button onclick="sendGroupMessage()">Send</button>
  <h3>Chat history</h3>
  <div id="container" name="container"></div>

  <button onclick="leaveGroup()">Leave Group</button>